.card {
  &__button {
    background-color: #d4ae36 !important;
    color: black !important;
    padding: 0.6rem 1.2rem !important;
    &:hover {
      background-color: black !important;
      color: white !important;
    }
    &__reduced {
      background-color: #d4ae36 !important;
      color: black !important;
      padding: 0.6rem 0.55rem !important;
      &:hover {
        background-color: black !important;
        color: white !important;
      }
    }
  }
}
