.icon-container {
  text-align: center;
  margin: 2rem 0;
}

.description {
  width: 250px;
  margin: 0 auto;
}

.card-container {
  margin: 2rem 0;
}

.card {
  &__button {
    background-color: #d4ae36 !important;
    color: black !important;
    padding: 0.6rem 2.2rem !important;
    &:hover {
      background-color: black !important;
      color: white !important;
    }
  }
}

.container {
  margin: 2rem 0;
  &__options {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 2rem 2rem;
  }
}

.shine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  img {
    width: 60%;
  }
}
